.error {
  background-color : brown;
  border-radius    : 2rem;
  display          : grid;
  font-size        : 3rem;
  gap              : 2rem;
  padding          : 5rem;
  text-align       : center;
  width            : 30rem;
}