.session {
  align-items : center;
  display     : flex;
  max: {
    height    : calc(100vh - 8rem);
    width     : 100rem;
  }
  min: {
    height    : 16rem;
    width     : 30rem;
  }
  position    : relative;
  &__modal {
    background-color : green;
    border-radius    : 2rem;
    display          : flex;
    flex-direction   : column;
    max-height       : 100vh;
    min-height       : 20rem;
    position         : absolute;
    transition       : 0.3s;
    @include dimentions(2, calc(50% - 1rem), calc(100% + 8rem));
    &--left {
      animation: modal-session-login 0.7s forwards;
    }
    &--rigth {
      animation: modal-session-signup 0.7s forwards;
    }
  }
  &__change {
    display        : none;
    flex-direction : column;
    gap            : 1rem;
    padding-top    : 2rem;
    text-align     : center;
    @include dimentions;
    @include center;
    &--show {
      display: flex;
    }
  }
  &__btn {
    display        : flex;
    flex-direction : column;
    gap            : 1rem;
    padding        : 2rem {
      top          : 0;
    }
    position       : relative;
    text-align     : center;
    @include center($x: flex-end, $y: center);
    @include dimentions($height: max-content);
    @include before {
      background-color : white;
      display          : block;
      left             : 0;
      margin           : auto;
      position         : absolute;
      right            : 0;
      top              : -1.5rem;
      @include dimentions($width: 75%, $height: 0.2rem);
    }
    &-container {
      display               : grid;
      gap                   : 1rem;
      grid-template-columns : repeat(3, 1fr);
      @include dimentions($height: max-content);
    }
  }
  &__form {
    background-color      : grey;
    display               : grid;
    grid-template-columns : repeat(2, 1fr);
    padding               : 0 1rem;
    @include dimentions;
    &-container {
      display        : flex;
      flex-direction : column;
      gap            : 0.3rem;
      opacity        : 0;
      padding        : 2rem;
      transition     : 0.3s;
      @include center($y: inherit);
      &--show {
        animation: form-session-show 0.5s forwards;
      }
      & > div {
        display               : grid;
        gap                   : 0.5rem;
        grid-template-columns : 8.5rem 1fr;
        padding               : 0.5rem 0;
      }
    }
    &__label {
      display: flex;
      @include center($x: flex-start);
      @include dimentions;
    }
    &__input {
      border   : none {
        bottom : 0.3rem solid transparent;
        radius : 1rem;
      }
      font-size: 2rem;
      padding  : 0.8rem 0.8rem 0.5rem 1.4rem;
      &:hover, &:focus {
        border-bottom-color: blue;
      }
    }
  }
}

#form-signup {
  display               : grid;
  grid-template-columns : repeat(2, 100%);
  overflow              : hidden;
  @include dimentions;
}