<section class="logout">
  <div>
    <h1 class="text">Hasta luego, <%= renderLogout.user %>!</h1>
    <span class="charging"></span>
  </div>
</section>

<script> setTimeout(() => { location.href = "/"; }, 2000); </script>