// █ █ ▄▀▄ █▀▄ █ ▄▀▄ ██▄ █   ██▀ ▄▀▀ 
// ▀▄▀ █▀█ █▀▄ █ █▀█ █▄█ █▄▄ █▄▄ ▄█▀ 
$breakpoints-x: (
  xs: 580px,
  sm: 767px,
  md: 991px
);
$breakpoints-y: (
  xs: 360px,
  sm: 450px,
  md: 540px
);

// ▄▀▀ █   ▄▀▄ ▄▀▀ ▄▀▀ 
// ▀▄▄ █▄▄ █▀█ ▄█▀ ▄█▀ 