<aside>
  <section class="aside__message">
    <button type="button" class="btn btn__toggle-message text" id="toggle-message">Contacta con un bot de ayuda.</button>
    <section>
      <ol id="render-message" class="message">
      </ol>
    </section>
    <form action="" class="aside__send-messages" id="form-message">
      <input type="text" name="message" id="input-message">
      <button type="submit" class="btn" id="btn-message">send</button>
    </form>
  </section>
</aside>